build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# TypeScript
tsconfig.tsbuildinfo
*.tsbuildinfo

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml
